# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/

# Logs
*.log

# OS / IDE Files
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear

# IntelliJ
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/
